.services {
    background: $bgColor;
    color: black;

    h2 {
        margin-bottom: 5rem;
        color: #ffff;
        @include mq(500px){
           
        
            font-size: 4.5rem;
         
       }
    }


    &-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 2.5rem;

        .service-box {
            background-color: $mainColor;
            height: 300px;
            border-radius: 3rem;
            border: 5px solid transparent;
            cursor: pointer;
            transition: 0.4s ease-in-out;

            &:hover {
                background-color: white;
                color: black;
                border: 5px solid $mainColor;
                transform: scale(1.03);
            }

            .service-info {
                display: flex;
                flex-direction: column;
                text-align: left;
                max-height: 200px;
                justify-content: left;
                align-items: baseline;
                padding: 5rem 5rem;


                h4 {
                    font-size: 3rem;
                    font-weight: 800;
                    line-height: 2;
                }

                p {
                    font-size: 1.6rem;
                    font-weight: 600;
                    min-height: 100px;
                    line-height: 1.7;
                    margin: auto;
                }
            }
        }

        @include mq(1285px){
           
          padding-bottom: 7rem;
          grid-template-columns: repeat(2, 1fr);
          margin:0 5rem;
        }

       


    }
   
   @include mq(991px){
    padding-bottom: 7rem;
    
   }
   @include mq(985px){
    h2{
        margin-bottom: 3rem;
         
    }

    &-container{
        grid-template-columns: repeat(1,1fr);
    }
   }

    




}